.Filter-container {
    width: 50%;
    margin-top: 10px;
    background-color: #FFC0CB;
    border: red solid 1px;    
}

.Filter-input-container {
    text-align: left;
}

.Filter-input{
    width: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
}