.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-list-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.App-link {
  color: #09d3ac;
}

i.fas.fa-plus-square {
  margin-right: 7px;
  color: white;
}

i.fas.fa-plus-square:hover{
  color: green;
}

i.fa.fa-trash{
  color: coral;
  margin-left: 15px;
}
i.fa.fa-trash:hover{
  color: red;
}

.App-bold{
  font-weight: bold;
}

.list-item{
  padding: 8px;
  margin-bottom: 5px;
}

.list-item:hover {
  cursor: pointer;
}

.list-item:hover .fa-plus-square{
  color: green;
}

.list-item:hover .fa-minus-square{
  color: red;
}

i.fas.fa-minus-square{
  color: white;
}

i.fa.fa-leaf{
  margin-right: 10px;
}

i.fa.fa-shopping-basket{
  margin-right: 10px;
}

.grey {
  background-color: #F9F9F9;
}

.off-grey {
  background-color: #EFEFEF;
}

.Groceries{
  width: 30%;
}

.Basket{
  width: 30%;
}

.line-through {
  text-decoration: line-through;
}
